@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");

:root {
  --square-width: 25px;
  --square-border-color: var(--nc-bg-3);
  --square-hover-color: var(--nc-bg-2);
  --start-color: var(--nc-ac-tx);
  --target-color: var(--nc-ac-tx);
  --target-border-width: 5px;
  --wall-color: var(--nc-bg-3);
  --visited-color: var(--nc-bg-2);
  --frontier-border-color: var(--nc-ac-tx);
  --solution-color: var(--nc-bg-2);
  --solution-orb-color: var(--nc-ac-tx);
}

@media screen and (min-width: 900px) {
  :root {
    --square-width: 30px;
    --target-border-width: 6px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --square-width: 35px;
    --target-border-width: 7px;
  }
}

* {
  box-sizing: border-box;
}

body {
  max-width: none;
}

.Controls {
  margin-bottom: 2rem;
}

.Controls > fieldset {
  margin: 0 0 1rem;
  padding: 1rem;
}

.Controls > fieldset > * {
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.Controls > fieldset:last-child,
.Controls > fieldset > :last-child {
  margin-right: 0;
}

@media screen and (min-width: 750px) {
  .Controls {
    display: flex;
  }

  .Controls > fieldset {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.Maze {
  display: grid;
}

.Maze > * {
  width: var(--square-width);
  height: var(--square-width);
  border: 1px solid var(--square-border-color);
  cursor: pointer;
}

.is-running .Maze > * {
  cursor: auto;
}

.PathFinder:not(.is-running) .Maze > [class=""]:hover,
.PathFinder:not(.is-running) .Maze > :not([class]):hover {
  background-color: var(--square-hover-color);
}

.Maze > .is-start {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%230C4047" d="M15.75 9.525l-4.586-4.586a1.5 1.5 0 00-2.121 2.122l4.586 4.585a.5.5 0 010 .708l-4.586 4.585a1.5 1.5 0 002.121 2.122l4.586-4.586a3.505 3.505 0 000-4.95z"/></svg>');
}

@media (prefers-color-scheme: dark) {
  .Maze > .is-start {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23eee" d="M15.75 9.525l-4.586-4.586a1.5 1.5 0 00-2.121 2.122l4.586 4.585a.5.5 0 010 .708l-4.586 4.585a1.5 1.5 0 002.121 2.122l4.586-4.586a3.505 3.505 0 000-4.95z"/></svg>');
  }
}

.Maze > .is-target {
  position: relative;
}

.Maze > .is-target:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  border-radius: 100%;
  border: var(--target-border-width) solid var(--target-color);
  box-sizing: border-box;
}

.is-running .Maze > .is-target:before {
  animation: target 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes target {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(0.6);
  }
}

.Maze > .is-wall {
  background-color: var(--wall-color);
  animation: wall 0.25s 1;
}

.is-generating .Maze > .is-wall {
  animation: none;
}

@keyframes wall {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.Maze > .is-visited {
  background-color: var(--visited-color);
  animation: visited 0.5s 1;
}

@keyframes visited {
  0% {
    border-color: var(--frontier-border-color);
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.Maze > .is-solution {
  background-color: var(--solution-color);
  position: relative;
}

.Maze > .is-solution:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--solution-orb-color);
  border-radius: 100%;
  transform: scale(0.4);
  animation: solution 0.5s 1;
}

@keyframes solution {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0.4);
  }
}
