@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");

body {
  max-width: none;
}

.Controls {
  margin-bottom: 2rem;
}

.Controls > * {
  margin-right: 0.5rem;
}

.Map {
  display: grid;
  width: 1000px;
  grid-template: repeat(20, 25px) / repeat(40, 25px);
  background-color: var(--nc-bg-1);
  border: 1px solid var(--nc-bg-3);
}

.Map > div {
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  user-select: none;
  border: 1px solid var(--nc-bg-3);
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.Map > div[class=""]:hover,
.Map > div:not([class]):hover {
  background-color: var(--nc-bg-3);
}

.Map > div.start:before {
  content: "➡️";
}

.Map > div.target:before {
  content: "⏺";
}

.Map > div.visited {
  background-color: var(--nc-bg-2);
}

.Map > div.wall {
  background-color: var(--nc-bg-3);
}

.Map > div.solution {
  background-color: #99c6fa;
  border-color: #99c6fa;
  transition-duration: 0.25s;
}
